<!DOCTYPE html>
<html>
    <head>
		{% load static %}
	    <meta charset="utf-8" >
		<link rel="shortcut icon" type="image/png" href="{% static 'img/free-icon-folder-7407897.png' %}"/>
	    <script src="{% static 'script/save_tasks.js' %}"></script>
		<link rel="stylesheet" href="{% static 'style/forms.css' %}">
	</head>
	<body>
	    <form action="javascript:;" onsubmit="create_task(this)">
		    <div><label for="start">Время постановки задачи</label>
			<input type="date" name="start"   value="2023-11-22" id="start"></div>
			<div><label for="end">Срок выполнения</label>
			<input type="date" name="end"   value="2023-11-23" id="end">
			</div>
		    <div><label for="description">Задача</label><input type="text" name="description" id="description" value="имя" />
			<label for="done">Готово</label>
			<input type="checkbox" name="done" id="done"></div>
			<input type="submit" value="Поставить задачу">
		</form>
	</body>
<html>